
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  background-color: #171717;
}

#root {
  display: flex;
  flex: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #171717 inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white !important;
}
